footer {
  background-color: var(--black);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 16vh;
  box-shadow: 0 0 10px var(--black);
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: env(safe-area-inset-bottom);
  padding: 0 0 0 env(safe-area-inset-left) env(safe-area-inset-right);
  margin: 0;
}
