.game-info-wrapper {
  width: 100vw;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 130px;
  margin-top: 18vh;
}

.game-info h2 {
  text-align: center;
  font-family: default-bold;
  font-size: 4rem;
  margin: 0;
  color: var(--black);
}

.game-info p {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black);
}

.game-links {
  width: 80%;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media screen and (0px <= width <= 480px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p {
    width: 90%;
  }

  .game-links {
    flex-direction: column;
  }

  a.game-link {
    width: 100%;
  }
}

@media screen and (481px <= width <= 768px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p {
    width: 80%;
  }

  .game-links {
    flex-direction: column;
    align-items: center;
  }

  a.game-link {
    width: 60%;
  }
}

@media screen and (769px <= width <= 960px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p {
    width: 70%;
  }

  .game-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a.game-link {
    width: 100%;
    font-size: 1.4rem;
  }
}

@media screen and (961px <= width <= 1024px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p {
    width: 60%;
  }

  .game-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a.game-link {
    width: 100%;
    font-size: 1.4rem;
  }
}

@media screen and (1025px <= width <= 1328px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p {
    width: 50%;
  }

  .game-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a.game-link {
    width: 100%;
    font-size: 1.4rem;
  }
}
