.game-info-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 200px;
  padding-bottom: 130px;
}

.game-info h2 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: default-bold;
}

.game-info iframe {
  border-radius: 20px;
  box-shadow: 0 0 10px var(--black);
}

.game-info p {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}

.game-links {
  width: 80%;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

lite-youtube {
  width: 30%;
}

.lite-youtube-fallback {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: var(--black);
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

.lite-youtube-fallback::before {
  display: block;
  content: '';
  border: solid transparent;
  border-width: 2em 0 2em 3em;
  border-left-color: var(--white);
}

.lite-youtube-fallback:hover::before {
  border-left-color: var(--light-blue);
}

.lite-youtube-fallback:focus {
  outline: 2px solid red;
}
