.game-info-wrapper {
  width: 100vw;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 200px;
  padding-bottom: 130px;
}

.game-info h2 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: default-bold;
}

.game-info p {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}

.game-links {
  width: 80%;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

lite-youtube {
  width: 100%;
  margin-bottom: -300px;
  margin-top: -300px;
  border-radius: 20px;
  transform: scale(0.4);
  box-shadow: 0 0 10px var(--black);
}

.lite-youtube-fallback {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: var(--black);
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

.lite-youtube-fallback::before {
  display: block;
  content: '';
  border: solid transparent;
  border-width: 2em 0 2em 3em;
  border-left-color: var(--white);
}

.lite-youtube-fallback:hover::before {
  border-left-color: var(--light-blue);
}

.lite-youtube-fallback:focus {
  outline: 2px solid red;
}

@media screen and (0px <= width <= 480px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p:nth-child(4) {
    width: 80%;
  }

  .game-links {
    flex-direction: column;
  }

  a.game-link {
    width: 100%;
  }

  lite-youtube {
    width: 100%;
  }
}

@media screen and (481px <= width <= 768px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p:nth-child(4) {
    width: 80%;
  }

  .game-links {
    flex-direction: column;
    align-items: center;
  }

  a.game-link {
    width: 60%;
  }

  lite-youtube {
    width: 100%;
    transform: scale(0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }
}

@media screen and (769px <= width <= 960px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p:nth-child(4) {
    width: 70%;
  }

  .game-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a.game-link {
    width: 100%;
    font-size: 1.4rem;
  }

  lite-youtube {
    width: 100%;
    transform: scale(0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }
}

@media screen and (961px <= width <= 1024px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p:nth-child(4) {
    width: 60%;
  }

  .game-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a.game-link {
    width: 100%;
    font-size: 1.4rem;
  }

  lite-youtube {
    width: 100%;
    margin-bottom: -100px;
    margin-top: -100px;
    transform: scale(0.6);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }
}

@media screen and (1025px <= width <= 1328px) {
  .game-info {
    gap: 10px;
    padding-bottom: 15px;
    margin-top: 150px;
  }

  .game-info > p:nth-child(4) {
    width: 50%;
  }

  .game-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a.game-link {
    width: 100%;
    font-size: 1.4rem;
  }

  lite-youtube {
    width: 100%;
    margin-bottom: -150px;
    margin-top: -150px;
    transform: scale(0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }
}
