.image-slider {
  min-width: 35%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
}

.image-slider__button-left,
.image-slider__button-right {
  background-color: transparent;
  border: none;
  font-size: 4rem;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.1s;
  position: absolute;
  z-index: 100;
  text-shadow: -1px -1px 1px var(--black), 1px -1px 1px var(--black),
    -1px 1px 1px var(--black), 1px 1px 1px var(--black);
}

.image-slider__button-right {
  right: 15px;
}

.image-slider__button-left {
  left: 15px;
}

.image-slider__button-left:hover,
.image-slider__button-right:hover {
  transform: scale(1.3);
}

.image-slider__image {
  flex-grow: 1;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--black);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  position: relative;
}

.image-slider .image-changed {
  animation: image-changed 0.3s ease-in-out;
}

@keyframes image-changed {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@media screen and (0px <= width <= 480px) {
  .image-slider {
    width: 100%;
    border-radius: 0;
  }

  .image-slider__image {
    border-radius: 0;
  }
}

@media screen and (481px <= width <= 768px) {
  .image-slider {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }

  .image-slider__image {
    border-radius: 20px;
  }
}

@media screen and (769px <= width <= 960px) {
  .image-slider {
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }

  .image-slider__image {
    border-radius: 20px;
  }
}

@media screen and (961px <= width <= 1024px) {
  .image-slider {
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }

  .image-slider__image {
    border-radius: 20px;
  }
}

@media screen and (1025px <= width <= 1328px) {
  .image-slider {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
  }

  .image-slider__image {
    border-radius: 20px;
  }
}
