.privacy-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}

.privacy-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 40px;
}

.privacy-page h2 {
  font-size: 3rem;
  font-family: default-bold;
}

.privacy-page pre {
  font-size: 2rem;
  font-family: default-normal;
  max-width: 100%;
  text-wrap: wrap;
}
