.privacy-page-wrapper {
  width: 100vw;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.privacy-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 130px;
}

.privacy-page h2 {
  font-size: 3rem;
  font-family: default-bold;
  margin-top: 20vh;
  margin-bottom: 0;
  text-align: center;
  color: var(--black);
}

.privacy-page pre {
  font-size: 2rem;
  font-family: default-normal;
  max-width: 90%;
  text-wrap: wrap;
  margin: 0;
  color: var(--black);
}
